.card {
  overflow: hidden;
}
.card.h200 {
  min-height: 220px;
}
.card.h200 .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card .background-icon {
  position: absolute;
  font-size: 150px;
  line-height: 1;
  top: auto;
  left: auto;
  right: -15px;
  bottom: -15px;
  color: rgba(25, 118, 210, 0.3);
}
.card .background-icon.mi {
  right: -55px;
  bottom: -55px;
}
.card .background-icon.mi > i {
  font-size: 190px !important;
}
.card .background-icon.custom-font-icons {
  right: -100px;
  bottom: -60px;
}
.card .background-icon.custom-font-icons > i {
  font-size: 14rem !important;
}
.card .background-icon.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.card > div {
  z-index: 2;
}
