.card {
  &.h200{
    min-height: 220px;
    .card-body{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  overflow: hidden;
  .background-icon{
    position: absolute;
    font-size: 150px;
    line-height: 1;
    top: auto;
    left: auto;
    right: -15px;
    bottom: -15px;
    color: rgba(25, 118, 210, 0.3);
    
    &.mi{
      right: -55px;
      bottom: -55px;
      > i {
        font-size: 190px !important;
      }
    }
    &.custom-font-icons{
      right: -100px;
      bottom: -60px;
      > i {
        font-size: 14rem !important;
      }
    }
    &.flip{
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
  > div {
    z-index: 2;
  }
}