.underline {
  text-decoration: underline;
}
table {
  border: 1px #000 solid !important;
}
table th,
table td {
  padding: 5px 10px;
  min-height: 50px;
  min-width: 100px;
}
table th.strikethrough,
table td.strikethrough {
  text-decoration: line-through #000 double;
}
table .custom-row-border {
  border: 3px #000 solid !important;
}
table thead {
  border: 1px #000 solid !important;
}
table thead tr {
  border: 1px #000 solid !important;
}
table thead tr th,
table thead tr td {
  border: 1px #000 solid !important;
  vertical-align: middle !important;
  text-align: center;
}
table tbody {
  border: 1px #000 solid !important;
}
table tbody tr {
  border: 1px #000 solid !important;
}
table tbody tr th,
table tbody tr td {
  border: 1px #000 solid !important;
  vertical-align: middle !important;
}
table tfoot {
  border: 1px #000 solid !important;
}
table tfoot tr {
  border: 1px #000 solid !important;
}
table tfoot tr td,
table tfoot tr th {
  border: 1px #000 solid !important;
  vertical-align: middle !important;
}
