.underline{
  text-decoration: underline;
}

table {
  border: 1px #000 solid !important;
  th, td {
    padding: 5px 10px;
    min-height: 50px;
    min-width: 100px;
    &.strikethrough{
      text-decoration: line-through #000 double;
    }
  }
  .custom-row-border{
    border: 3px #000 solid !important;
  }
  thead {
    border: 1px #000 solid !important;
    tr{
      border: 1px #000 solid !important;
      th, td {
        border: 1px #000 solid !important;
        vertical-align: middle !important;
        text-align: center;
      }
    }
  }
  tbody {
    border: 1px #000 solid !important;
    tr{
      border: 1px #000 solid !important;
      th, td {
        border: 1px #000 solid !important;
        vertical-align: middle !important;
      }
    }
  }
  tfoot{
    border: 1px #000 solid !important;
    tr{
      border: 1px #000 solid !important;
      td, th {
        border: 1px #000 solid !important;
        vertical-align: middle !important;
      }
    }
  }
}