.mapdiv .m0{
  margin: 0px;
}
.mapdiv .p0{
  padding: 0px;
}
.map-header{
  background: #c969b9;
  min-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.close-info-window{
  display: inline-block;
  padding: 3px 7px;
  font-size: 1.2rem;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 5px;
}
.close-info-window:hover{
  background-color: rgba(59, 53, 97, 0.4);
}
.data-info{
  color: rgb(59, 53, 97);
  font-size: 1rem;
  padding-top: 20px;
}
.pointer{
  cursor: pointer;
}