html {
  background-image: linear-gradient(to bottom, rgba(46, 134, 171, 0.6) 0%, #c969b9 100%), url("/assetsx/publicdomain/img/bg.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
html body {
  background-color: transparent;
  min-height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #c969b9;
}
html body .header {
  height: 110px;
  padding: 30px 0px;
  margin-bottom: 20px;
}
html body .header .tape {
  overflow: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  background-color: white;
}
html body .header .tape div {
  display: inline-block;
}
html body .header .tape div.logo {
  margin-right: 20px;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.22);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.22);
  border-radius: 50%;
  height: 90px;
  width: 90px;
}
html body .header .tape div.title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 23px;
}
html body .header .tape div.title span {
  font-size: 30px !important;
}
html body .card.custom {
  height: 400px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  flex-direction: row;
  align-content: center;
}
html body .card.custom div {
  display: inline-block;
}
html body .card.custom div.title {
  width: 60px;
  height: 400px;
  background: #fff;
  border-radius: 10px 0px 0px 10px;
}
html body .card.custom div.title span {
  display: inline-block;
}
html body .card.custom div.title span.text {
  color: #c969b9;
  transform-origin: center;
  transform: rotate(-90deg) translateY(-120px) translateX(-120px);
  line-height: 60px;
  text-transform: uppercase;
  font-size: 25px;
  width: 300px;
  height: 60px;
  text-align: left;
}
html body .card.custom div.title span.text .big {
  font-size: 30px;
}
html body .card.custom div.title span.icon {
  position: absolute;
  top: auto;
  bottom: 25px;
  margin: 0px 8px;
}
html body .card.custom div.graph {
  width: calc(60% - 30px);
}
html body .card.custom div.graph.w50 {
  width: calc(45% - 30px);
}
html body .card.custom div.graph canvas {
  width: 100%;
  height: 400px;
}
html body .card.custom div.vertical-div {
  height: 350px;
  margin: auto 15px;
  width: 2px;
  background: rgba(46, 134, 171, 0.5);
}
html body .card.custom div.numeric {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0px 20px;
}
html body .card.custom div.numeric div:nth-child(1) {
  font-size: 3em;
  font-weight: 500;
  color: #2e86ab;
}
html body .card.custom div.numeric div:nth-child(1) span {
  margin: 5px auto;
  text-align: center;
  display: block;
  min-width: 120px;
  width: auto;
}
html body .card.custom div.numeric div:nth-child(1) span.label {
  margin: 0px auto;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}
html body .card.custom div.numeric div:nth-child(1) span.male {
  background-image: url("/assetsx/publicdomain/img/male.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
html body .card.custom div.numeric div:nth-child(1) span.female {
  background-image: url("/assetsx/publicdomain/img/female.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
html body .card.custom div.numeric div:nth-child(2) {
  font-size: 1.8rem;
  text-transform: uppercase;
}
html body .card.custom div.numeric div:nth-child(2) .big {
  font-size: 120%;
}
