html{
  background-image:linear-gradient(to bottom, rgba(46,134,171, 0.6) 0%, rgb(201,105,185, 0.6) 100%), url("/assetsx/publicdomain/img/bg.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100%;

  body {
    background-color: transparent;
    min-height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #c969b9;

    .header {
      height: 110px;
      padding: 30px 0px; 
      margin-bottom: 20px;

      .tape {
        overflow: visible;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
        background-color: white;
        
        div {
          display: inline-block;

          &.logo {
            margin-right: 20px;
            padding: 10px;
            background-color: white;
            -webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.22);
            box-shadow: 0 0 15px 1px rgba(0,0,0,0.22);
            border-radius: 50%;
            height: 90px;
            width: 90px;
          }

          &.title{
            text-transform: uppercase;
            font-weight: 500;
            font-size: 23px;

            span{
              font-size: 30px !important;
            }
          }
        }
      }
    }
    
    .card.custom{
      height: 400px;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 10px;
      flex-direction: row;
      align-content: center;

      div{
        display: inline-block;

        &.title{
          width: 60px;
          height: 400px;
          background: #fff;
          border-radius: 10px 0px 0px 10px;
          // display: flex;
          span {
            display: inline-block;
  
            &.text{
              color: #c969b9;
              transform-origin: center;
              transform: rotate(-90deg) translateY(-120px) translateX(-120px);
              line-height: 60px;
              text-transform: uppercase;
              font-size: 25px;
              width: 300px;
              height: 60px;
              //padding-right: 30px;
              text-align: left;
              
              .big{
                font-size: 30px;
              }
            }
  
            &.icon {
              position: absolute;
              top: auto;
              bottom: 25px;
              margin: 0px 8px;
            }
          }
        }

        &.graph {
          width: ~"calc(60% - 30px)";

          &.w50 {
            width: ~"calc(45% - 30px)";
          }

          canvas{
            width: 100%;
            height: 400px;
          }
        }

        &.vertical-div {
          height: 350px;
          margin: auto 15px;
          width: 2px;
          background: rgba(46,134,171, 0.5);
        }

        &.numeric{
          flex: 1;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          padding: 0px 20px;

          div:nth-child(1){
            font-size: 3em;
            font-weight: 500;
            color: #2e86ab;

            span {
              margin: 5px auto;
              text-align: center;
              display: block;
              min-width: 120px;
              width: auto;

              &.label{
                margin: 0px auto;
                text-align: center;
                font-size: 1rem;
                text-transform: uppercase;
              }

              &.male{
                background-image: url("/assetsx/publicdomain/img/male.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
              }
  
              &.female{
                background-image: url("/assetsx/publicdomain/img/female.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
              }
            }
          }
          div:nth-child(2){
            font-size: 1.8rem;
            text-transform: uppercase;
            
            .big{
              font-size: 120%;
            }
          }
        }
      }
    }
  }
}