
.hayat-fp-birth-control-pills:before { content: '\e800'; } /* '' */
.hayat-fp-intrauterine-device:before { content: '\e801'; } /* '' */
.hayat-fp-condom:before { content: '\e802'; } /* '' */
.hayat-fp-family:before { content: '\e803'; } /* '' */